<!DOCTYPE html>
<html>
<head>
	<title>huh?</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="translated"></div>
	<div class="bar"></div>
	<div class="to-translate"></div>
</body>
</html>