<!DOCTYPE html>
<html>
<head>
	<title>huh?</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body>
	<div class="translated"></div>
	<nav class="bar">
		<ul>
			<li class="user-1"><a href="#">English</a>
				<ul>
					<li>Afrikaans</li>
					<li>Arabic</li>
					<li>Bosnian (Latin)</li>
					<li>Bulgarian</li>
					<li>Catalan</li>
					<li>Chinese Simplified</li>
					<li>Chinese Traditional</li>
					<li>Croatian</li>
					<li>Czech</li>
					<li>Danish</li>
					<li>Dutch</li>
					<li>English</li>
					<li>Estonian</li>
					<li>Finnish</li>
					<li>French</li>
					<li>German</li>
					<li>Greek</li>
					<li>Haitian Creole</li>
					<li>Hebrew</li>
					<li>Hindi</li>
					<li>Hmong Daw</li>
					<li>Hungarian</li>
					<li>Indonesian</li>
					<li>Italian</li>
					<li>Japanese</li>
					<li>Kiswahili</li>
					<li>Klingon</li>
					<li>Klingon (pIqaD)</li>
					<li>Korean</li>
					<li>Latvian</li>
					<li>Lithuanian</li>
					<li>Malay</li>
					<li>Maltese</li>
					<li>Norwegian</li>
					<li>Persian</li>
					<li>Polish</li>
					<li>Portuguese</li>
					<li>Querétaro Otomi</li>
					<li>Romanian</li>
					<li>Russian</li>
					<li>Serbian (Cyrillic)</li>
					<li>Serbian (Latin)</li>
					<li>Slovak</li>
					<li>Slovenian</li>
					<li>Spanish</li>
					<li>Swedish</li>
					<li>Thai</li>
					<li>Turkish</li>
					<li>Ukrainian</li>
					<li>Urdu</li>
					<li>Vietnamese</li>
					<li>Welsh</li>
					<li>Yucatec Maya</li>
				</ul>
			</li>
			<li class="swap-button">
				<a href="#"><img src="/assets/swap.png"></a>
			</li>
			<li class="user-2"><a href="#">Spanish</a>
				<ul>
					<li>Afrikaans</li>
					<li>Arabic</li>
					<li>Bosnian (Latin)</li>
					<li>Bulgarian</li>
					<li>Catalan</li>
					<li>Chinese Simplified</li>
					<li>Chinese Traditional</li>
					<li>Croatian</li>
					<li>Czech</li>
					<li>Danish</li>
					<li>Dutch</li>
					<li>English</li>
					<li>Estonian</li>
					<li>Finnish</li>
					<li>French</li>
					<li>German</li>
					<li>Greek</li>
					<li>Haitian Creole</li>
					<li>Hebrew</li>
					<li>Hindi</li>
					<li>Hmong Daw</li>
					<li>Hungarian</li>
					<li>Indonesian</li>
					<li>Italian</li>
					<li>Japanese</li>
					<li>Kiswahili</li>
					<li>Klingon</li>
					<li>Klingon (pIqaD)</li>
					<li>Korean</li>
					<li>Latvian</li>
					<li>Lithuanian</li>
					<li>Malay</li>
					<li>Maltese</li>
					<li>Norwegian</li>
					<li>Persian</li>
					<li>Polish</li>
					<li>Portuguese</li>
					<li>Querétaro Otomi</li>
					<li>Romanian</li>
					<li>Russian</li>
					<li>Serbian (Cyrillic)</li>
					<li>Serbian (Latin)</li>
					<li>Slovak</li>
					<li>Slovenian</li>
					<li>Spanish</li>
					<li>Swedish</li>
					<li>Thai</li>
					<li>Turkish</li>
					<li>Ukrainian</li>
					<li>Urdu</li>
					<li>Vietnamese</li>
					<li>Welsh</li>
					<li>Yucatec Maya</li>
				</ul>
			</li>
			<li class="map-button">
				<a href="https://campusmap.ufl.edu/" target="_blank"><img src="/assets/map.png"></a>
			</li>
		</ul>
	</nav>
	<div class="to-translate"></div>
	<div class="footer">
		<a href="https://ufl.qualtrics.
		com/SE/?SID=SV_6tDxEN8IfogF7Nj">
			<span>survey</span>
			<img src="/assets/survey.png">
		</a>
	</div>
</body>
</html>